/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Inter;
  font-size: 18px;
  line-height: 1.8em;
  letter-spacing: -.014em;
  color: #efefef;
  background-color: #171c2f;
}

.header {
  margin: 30vh 13em;
}

.header-name {
  font-size: 6vw;
  line-height: .9em;
  font-weight: 900;
  margin: .2em 0 .6em;
  max-width: 800px;
}

.projects, .work, .links {
  padding: 2em 13em;
}

.links div {
  display: inline-flex;
  align-items: center;
}

.links div * {
  margin-right: 3px;
}

.label {
  color: #c2ceda;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 400;
  line-height: 1.1em;
  margin: .5em 0 .6em;
}

h2.category-label {
  font-size: 1.2em;
  position: relative;
}

h2.category-label:before {
    content: "";
    position: absolute;
    top: .5em;
    right: auto;
    bottom: auto;
    left: -1.6em;
    width: 13em;
    border-bottom: 1px solid;
    transform: translate3d(-100%,0,0);
}

h3.project-name,
h3.work-name {
  font-size: 3em;
  line-height: 1.1em;
  margin: 1.5em 0 0;
  letter-spacing: -.022em;
  font-weight: 900;
}

div.project-description, div.work-description {
  position: relative;
  margin-bottom: 1.6em;
  max-width: 50em;
}

div.project-details p, div.work-details p {
  margin: 1.2em 0;
  padding-bottom: 1em;
}

div.tools {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: auto;
  bottom: auto;
  left: -1.6em;
  width: 210px;
  height: 200px;
  text-align: right;
  transform: translate3d(-100%,0,0);
}

h4.tools-label {
  font-size: .9em;
}

div.tools-item-pill {
  background: #3f4a68; /*#343947*/
  color: #F7F9F9;
  margin-bottom: .6em;
  padding: .6em .9em;
  display: inline-block;
  font-size: 12px;
  line-height: 1em;
  border-radius: 2px;
  margin: .5em 0 .6em;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 400;
}

.project-image-container-outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em -13em;
}
.project-image-container-inner {
  flex: 1 1 50%;
  height: 20vw;
  width: 50%;
  overflow: hidden;
}

.project-image {
  background-size: cover;
  background-position: right top;
  height: 100%;
  width: 100%;
}

.button-link {
  padding: 10px 30px;
  display: inline-block;
  margin: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  outline: none;
  position: relative;
  transition: all 0.3s;
}

.button-link:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.button-link {
  border-radius: 20px;
  border: 3px solid #efefef;
  color: #efefef;
  overflow: hidden;
  text-decoration: none;
}

.button-link:active {
  border-color: #9abaec;
  color: #9abaec;
}

.button-link:hover {
  background: #3f4a68;
}

.button-link:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #efefef;
  transition: all 0.3s;
  content: "\1F846";
  right: 15px;
  opacity: 0;
  top: 0;
}

.button-link:active:before {
  color: #9abaec;
}

.button-link:hover:before {
  right: 5px;
  opacity: 1;
}